.tabela-listagem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.tabela-listagem table {
    width: 70%;
    border-collapse: collapse;
}

.tabela-listagem thead th {
    font-weight: bold;
    text-align: left;
    padding: 10px;
    background-color: #0394d4;
}

.tabela-listagem tbody td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.tabela-listagem tbody tr:hover {
    background-color: #9cd0e5;
}

.tabela-listagem h1{
    font-size: 35px;
    padding-bottom: 30px;
    color: #0394d4;
}